.pictmp {
  width: 128px;
  height: 128px;
}

.pictureCol {
  width: 200px;
}

.listItem {
  border: 1px, solid, black !important;
  background-color: rgba( 85, 88, 91,1) !important;
  color: white !important;
}

.itemsList {
  height: 55vh;
  width: 80vw;
  overflow: scroll;
  background-color:rgb(39, 37, 41) !important;
}

.shop_panel {
  background-color: rgb(124,121,129,1) !important;
}

a {
  color: white;
}

/* .order_list_item td, 
.order_list_item th {
  text-align: center;
} */

.container {
  color: white;
}

.filtering_panel {
  background-color:rgb(39, 37, 41) !important;
}